$font-primary: 'Open Sans', sans-serif;
$color-primary: #4cb1ca;
$color-light: #bef2ff;
$color-second: #eaeaea;
$font-color: #635f57;
$font-color-second:#b7b7b7;
$border-color: #c6c6c6;
$button-color: #7db122;
$button-color-second: #4cb1ca;

